.navbar{
    padding:0px;
    h1{
        font-size:clamp(18px,4vh,48px);
        b{
            vertical-align: text-bottom;
            margin-right: 1vw;
        }
        
        img{
            height:clamp(18px,4vh,48px);
            width: clamp(18px,4vh,48px);
            align-items: center;
        }
    }
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    align-items: center;
  }
  